.discount {
  width: 100%;
  height: 50%;
  display: flex;
  @extend %parent-block-div;
  background-color: $main-background;
  padding-bottom: 10%;

  &__claim {
    display: flex;
    flex-direction: column;
    padding-top: 7%;
  }
  &__text-subtitle {
    @extend %h3;
    text-transform: uppercase;
  }
  &__claim-offer {
    @extend %h2;
    font-size: 45px;
    line-height: 58px;
    letter-spacing: 0.45px;
    width: 70%;
  }
  &__claim-text {
    @extend %p;
    padding-top: 5%;
    width: 69%;
  }
  &__claim-wrapper {
    display: flex;
    flex-direction: row;
  }
  &__claim-appeal-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "mail-us mail-text mail-text mail-text"
      "call-us call-text call-text call-text";
    border: 2.5px solid $button-background;
    background-color: $second-color;
    width: 40%;
    margin-top: 7%;
    padding-top: 5%;
    column-gap: 10%;
  }
  &__claim-mail-us {
    grid-area: mail-us;
    padding-left: 60%;
  }
  &__claim-mail-us-text {
    grid-area: mail-text;
  }
  &__claim-call-us {
    grid-area: call-us;
    padding-left: 60%;
  }
  &__claim-call-us-text {
    grid-area: call-text;
  }
  &__claim-image {
    position: relative;
    float: right;
    margin-top: 7%;
  }
  &__form {
    display: flex;
    flex-direction: column;
    background-color: $second-color;
    width: 555px;
    height: 690px;
    box-shadow: 1px 0 18px 0 rgba(0, 0, 0, 0.2);
    margin: 2px;
    padding-left: 5%;
    padding-top: 15%;
    justify-content: space-between;
  }
  &__form input {
    width: 85%;
    height: 65px;
    border: 2px solid $subtitle-color;
    margin: 4%;
  }
  &__form textarea {
    width: 85%;
    height: 130px;
    border: 2px solid $subtitle-color;
    margin: 4%;
  }
  &__button {
    @extend %button;
    cursor: pointer;
  }
  .input-background-icon-name {
    background: url("/assets/flat_discount/background-icon-name.svg") no-repeat
      scroll 7px 7px;
    padding-left: 60px;
    background-size: 41px 47px;
  }
  .input-background-icon-phone {
    background: url("/assets/flat_discount/background-icon-phone.svg") no-repeat
      scroll 7px 7px;
    padding-left: 60px;
    background-size: 41px 47px;
  }
}
//*tablet*//
@media screen and (max-width: $tablet) {
  .discount {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    background-color: $main-background;
    text-align: center;
    padding-right: 5.21%;
    padding-left: 5.21%;
    padding-top: 4.69%;
    padding-bottom: 4.69%;

    &__claim {
      display: flex;
      flex-direction: column;
    }
    &__text-subtitle {
      font-size: 12px;
      font-family: $font-family;
      font-weight: 300;
      line-height: 23px;
      letter-spacing: 1px;
      color: $subtitle-color;
      text-transform: uppercase;
    }
    &__claim-offer {
      font-family: $second-family;
      font-weight: 300;
      color: $main-color;
      font-size: 30px;
      line-height: 48px;
      letter-spacing: 0.25px;
      width: 90%;
      padding-left: 4%;
    }
    &__claim-text {
      @extend %p;
      padding-top: 5%;
      width: 89%;
      padding-bottom: 5%;
      padding-left: 6%;
    }
    &__claim-wrapper {
      display: none;
    }
    &__form {
      display: flex;
      flex-direction: column;
      background-color: $second-color;
      width: 88%;
      height: 690px;
      box-shadow: 1px 0 18px 0 rgba(0, 0, 0, 0.2);
      margin: 6%;
      padding-left: 1%;
      padding-top: 15%;
      justify-content: space-between;
    }
    &__form input {
      width: 80%;
      height: 65px;
      border: 2px solid $subtitle-color;
      margin: 15px;
    }
    &__form textarea {
      width: 80%;
      height: 130px;
      border: 2px solid $subtitle-color;
      margin: 15px;
    }
    &__button {
      @extend %button;
      cursor: pointer;
    }
    .input-background-icon-name {
      background: url("/assets/flat_discount/background-icon-name.svg")
        no-repeat scroll 7px 7px;
      padding-left: 60px;
      background-size: 41px 47px;
    }
    .input-background-icon-phone {
      background: url("/assets/flat_discount/background-icon-phone.svg")
        no-repeat scroll 7px 7px;
      padding-left: 60px;
      background-size: 41px 47px;
    }
  }
}
//*mobile*//
@media screen and (max-width: $mobile) {
  .discount {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    background-color: $main-background;
    text-align: center;
    padding-right: 4.71%;
    padding-left: 4.71%;
    padding-top: 4.24%;
    padding-bottom: 4.24%;

    &__claim {
      display: flex;
      flex-direction: column;
    }
    &__text-subtitle {
      font-size: 10px;
      font-family: $font-family;
      font-weight: 300;
      line-height: 13px;
      letter-spacing: 1px;
      color: $subtitle-color;
      text-transform: uppercase;
    }
    &__claim-offer {
      font-family: $second-family;
      font-weight: 300;
      color: $main-color;
      font-size: 25px;
      line-height: 38px;
      letter-spacing: 0.25px;
      width: 90%;
      padding-left: 6%;
    }
    &__claim-text {
      font-family: $font-family;
      font-weight: 200;
      color: $text-color;
      padding-top: 5%;
      width: 89%;
      padding-bottom: 5%;
      padding-left: 6%;
    }
    &__claim-wrapper {
      display: none;
    }
    &__form {
      display: flex;
      flex-direction: column;
      background-color: $second-color;
      width: 85%;
      height: 30%;
      box-shadow: 1px 0 18px 0 rgba(0, 0, 0, 0.2);
      margin: 6%;
      padding-left: 1%;
      padding-top: 10%;
      justify-content: space-between;
    }
    &__form input {
      width: 80%;
      height: 52px;
      border: 2px solid $subtitle-color;
      margin: 15px;
    }
    &__form textarea {
      width: 80%;
      height: 100px;
      border: 2px solid $subtitle-color;
      margin: 15px;
    }
    &__button {
      font-family: $font-family;
      font-weight: 300;
      font-size: 9px;
      line-height: 20px;
      letter-spacing: 1.56px;
      text-transform: uppercase;
      text-align: center;
      color: #fff;
      background-color: $button-background;
      padding: 18.5px 32px;
      border: none;
      cursor: pointer;
    }
    .input-background-icon-name {
      background: url("/assets/flat_discount/background-icon-name.svg")
        no-repeat scroll 7px 7px;
      padding-left: 60px;
      background-size: 41px 47px;
    }
    .input-background-icon-phone {
      background: url("/assets/flat_discount/background-icon-phone.svg")
        no-repeat scroll 7px 7px;
      padding-left: 60px;
      background-size: 41px 47px;
    }
  }
}
