/* colors */
$main-background: #ebf3f5;
$second-background: #1e2c30;
$button-background: #5c8692;
$footer-background: #111e22;

$text-color: #555;
$main-color: #141414;
$second-color: #fff;
$subtitle-color: #5c8692;

/* fonts */
$font-family: "Manrope", sans-serif;
$second-family: "Playfair Display", sans-serif;

/* adaptive */
$tablet: 768px;
$mobile: 425px;
